
h1 {
	color: navy;
}
body {
    background-color: #43B6FF; 
}
   
.menuPos {
    position: absolute;
}

.second-level {
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;

}

.second-level > li {
    position: relative;
    height: 30px;
    background: blue;
}

.second-level > li:hover {
    background: navy;
}

.top-level {
    list-style: none;
    padding: 0;
    margin: 0;

}

.top-level > li {
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: navy;
    text-align: center;

}

.top-level > li:hover {
    background: navy;
}

.top-level li:hover > ul {
    display: inline;

}

.top-level a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

.top-level a:hover {
    color: white;
}


.flashcard-container {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    color: navy;
}

.flashcard {
    width: 150px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
}

.flashcard-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    background: lightgray;
    font-weight: bold;
    text-align: center;
}

.flashcard-back {
    transform: rotateY(180deg);
    background: white;
}

   
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 5px solid navy;
}

  
.logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: navy;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: darkred;
}