.button 
{
	position:absolute;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 
{
	background-color: white; 
	color: black; 
	border: 2px solid #04AA6D;
	padding: 16px 24px;
	top:10rem;
}

.button1:hover 
{
	background-color: #04AA6D;
	color: white;
}

.button2 
{
	background-color: white; 
	color: black; 
	border: 2px solid #008CBA;
	padding: 16px 14.5px;
	top:15rem;
}

.button2:hover 
{
	background-color: #008CBA;
	color: white;
}

.button3
{
	background-color: white; 
	color: black; 
	border: 2px solid #ff6c52;
	padding: 16px 26px;
	top:20rem;
}

.button3:hover 
{
	background-color: #ff6c52;
	color: white;
}

.title
{
	font-size:3rem;
	position:absolute;
	left:30%;
}

.mission
{
	display:block;
	position:absolute;
	top:15rem;
	right:5rem;
}

.reviews
{
	position:absolute;
	top:450px;
}

.login 
{
	background-color: lightgrey;
	width: 65px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding: 10px;
	margin:0px;
	position:absolute;
	top: 0px;
	right: 0px;
}

.logOut 
{
	padding-left:9.47px;
	padding-right:9.47px;
	margin-bottom:5px;
}

.signIn
{
	padding-left:1px;
	padding-right:1px;
	width:60px;
}