.title {
	font-size:58px;
	position:absolute;
	left:35%; 
	top:8px;
	margin:0px;
	text-decoration-line: underline;
}

.selection {
	position:absolute;
	left: 36%;
	top:100px;
}

#types{
	position:relative;
	left:5px;
	bottom:5px;
	height:25px;
}

input {
	position:relative;
	left:10px;
	bottom:5px;
}

label {
	font-size:42px;
}

table {
	position:absolute;
	top:200px;
	font-size:25px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td{
	width:200px;
}

table.center {
	left:33%;
}




.accountSection
{
	background-color: lightgrey;
	width: 65px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding: 10px;
	margin:0px;
	position:absolute;
	top: 0px;
	right: 0px;
}

.logOut 
{
	padding-left:9.47px;
	padding-right:9.47px;
	margin-bottom:5px;
}




